<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>LMT CHAT</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content #content [scrollEvents]="true">
    <div class="chat" *ngFor="let chat of chatRef | async">
        <div *ngIf="chat.userEmail !== localUserIsLogged.email" class="me ion-align-self-start">
            <ion-item>
                <ion-avatar slot="start" class="user-avatar" item-left>
                    <!--<img src="assets/img/IMG_0732.jpg">-->
                    <img [src]="localUser.urlPicture">
                </ion-avatar>
                {{chat.Name}}
            </ion-item>
            <br>
            <ion-label *ngIf="localUser.isOnline">En Ligne : {{'Online'}}</ion-label>
            <ion-label *ngIf="!localUser.isOnline">En Ligne : {{'Offline'}}</ion-label>
            <div *ngIf="chat.Message">{{chat.Message}}</div>
            <div *ngIf="chat.urlPicture"><img [src]="chat.urlPicture"></div>
        </div>

        <div *ngIf="chat.userEmail === localUserIsLogged.email" class="me ion-align-self-end">
            <ion-item>
                <ion-avatar slot="start" class="user-avatar">
                    <!--<img src="assets/img/IMG_0732.jpg">-->
                    <img [src]="localUser.urlPicture">
                </ion-avatar>
                {{chat.Name}}
            </ion-item>
            <br>
            <ion-label *ngIf="localUser.isOnline">En Ligne : {{'Online'}}</ion-label>
            <ion-label *ngIf="!localUser.isOnline">En Ligne : {{'Offline'}}</ion-label>
            <br>
            <div *ngIf="chat.Message">{{chat.Message}}</div>
            <!--<div *ngIf="chat.urlPicture"><img [src]="chat.urlPicture"></div>-->
            <div *ngIf="chat.urlPicture">
                <a [href]="chat.urlPicture"><img [src]="chat.urlPicture"></a>
            </div>
        </div>
    </div>

</ion-content>
<ion-footer>
    <ion-item>
        <ion-input placeholder="Type..." [(ngModel)]="text"></ion-input>
        <div>{{returnpath}}</div>
        <ion-button (click)="send()" fill="clear" icon-only slot="end">
            <ion-icon name="send"></ion-icon>
        </ion-button>
        <ion-button (click)="fileInput.click()" fill="clear" icon-only slot="start">
            <ion-icon name="add-circle"></ion-icon>
        </ion-button>
        <input #fileInput type="file" (change)="getPhoto($event)" style="display: none;"/>
    </ion-item>
</ion-footer>
