<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>don</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      
    </ion-list-header>

    <ion-item>
      <ion-input type="custom">DONS:</ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" value="">Quantité : </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="custom">Comentaire:</ion-input>
    </ion-item>

  </ion-list>


</ion-content>

<ion-button slot="secondary" onclick="('')">
  Envoyer
</ion-button> 