<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Urgence</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    
    <ion-title>Si vous êtes dans une situation d'urgence veuillez appeler les numéros ci-dessous</ion-title>
    
    <ul>
      <li>
        <a href="tel:17">Police</a>
      </li>
      <li>
        <a href="tel:18">Pompier</a>
      </li>
      <li>
        <a href="tel:15">SAMU</a>
      </li>
    </ul>

  </ion-content>
        
  
    



