<ion-header>
    <ion-toolbar class="aceuillbar" color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-text color="light">
                <ion-text color="light" class="fw700">ACCUEIL</ion-text>
            </ion-text>
        </ion-title>
        <!--Notification-->
        <!----<ion-buttons slot="end">
          <ion-button size="small" shape="round" color="medium" (click)="notifications()">
              <ion-icon name="notifications"></ion-icon>
              <ion-badge color="dark" slot="end">2</ion-badge>
          </ion-button>
      </ion-buttons>-->
    </ion-toolbar>

    <!----<ion-toolbar color="dark">
      <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
      <ion-buttons slot="end">
          <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
              <ion-icon name="options"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>-->
</ion-header>

<ion-content class="contentback">


    <!----<ion-card padding>
        <img src="assets/img/loginpage.jpg">
    </ion-card>-->
    <!--Alert-->
    <!----<ion-card no-margin class="no-radius">
      <ion-item lines="none" color="medium">


          
          <ion-label>
              <h2 no-margin class="fw500 no-margin">
                  <ion-text color="dark">Alert / Toast test</ion-text>
              </h2>

              <p class="text-11x no-margin">
                  <ion-text color="primary">{{yourLocation}}</ion-text>
              </p>
          </ion-label>

          <--Location-->
    <!---<ion-button shape="round" fill="outline" size="small" color="primary" (click)="alertLocation()">
              Location
              <ion-icon name="locate"></ion-icon>
          </ion-button>
      </ion-item>
  </ion-card>-->

    <!---<ion-card class="bg-white">
  <ion-img [src]="themeCover"></ion-img>
  <ion-button expand="full" color="dark" (click)="presentImage(themeCover)" no-margin>
    Modal 1: Modal Image
  </ion-button>
</ion-card>-->

    <!----<ion-button margin shape="round" expand="full" color="secondary" (click)="searchFilter()">
      Modal 2: Search Filter
  </ion-button>-->

    <!----popmenu></popmenu>-->
</ion-content>