<!--<ion-content padding class="animated fadeIn login auth-page">
        <div class="theme-bg"></div>
        <div class="auth-content">
            <div padding-horizontal text-center class="animated fadeInDown">
                <div class="logo"></div>
                <h4 no-margin>
                    <ion-text color="light" class="fw700">
                        La Main Tendue
                    </ion-text>
                </h4>
            </div>
            <ion-item>
                <ion-label position="floating">email</ion-label>
                <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">password</ion-label>
                <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
            </ion-item>
            <br>
            <ion-button (click)="OnSubmitLogin()" expand="block">confirmer</ion-button>
        </div>
    </ion-content>-->
<ion-content>
    <div id="container">
        <div class="d-flex justify-content-center h-100 ">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="assets/img/mnt.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="" class="form-control input_user" name="email" [(ngModel)]="email" placeholder="email">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="" class="form-control input_pass" name="password" [(ngModel)]="password" placeholder="password">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">se souvenir de moi!</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <button type="submit" (click)="OnSubmitLogin()" name="button" class="btn login_btn">Login</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</ion-content>
