<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Reponses aux Besoins</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<form name="participants">
  <label *ngIf="!besoin">Pas de besoin de prévu</label>
  <div *ngIf="besoin!=null">
    <ion-item no-padding class="animated fadeInUp">
      <p>
      <ion-label position="floating">
Type de Besoin : {{besoin.typeBesoin ? besoin.typeBesoin.type : '' }}
      </ion-label>
      </p>

    </ion-item>
  </div>
  <div *ngIf="besoin!=null">

    <div *ngIf="besoin.typeBesoin && besoin.typeBesoin.type === 'Alimentaire'">
      <ion-item no-padding class="animated fadeInUp">
        <p>
          <ion-label position="floating">
         Nom Type Alientaire: {{besoin.alimentaire ? besoin.alimentaire.typeNom : ''}}
          </ion-label>
        </p>
      </ion-item>
    </div>

    <div *ngIf="besoin.typeBesoin && besoin.typeBesoin.type === 'Service'">
      <ion-item no-padding class="animated fadeInUp">
        <p>
      <ion-label position="floating">
        Nom Type Service : {{besoin.service ? besoin.service.typeNom : ''}}
      </ion-label>
        </p>

      </ion-item>
    </div>

    <div *ngIf="besoin.typeBesoin && besoin.typeBesoin.type === 'Vetement'">
      <ion-item no-padding class="animated fadeInUp">
        <p>
          <ion-label position="floating">
            Nom Type Vêtement : {{besoin.vetement ? besoin.vetement.typeNom : ''}}
          </ion-label>
        </p>


      </ion-item>
  </div>
  <div *ngIf="besoin!=null">
    <ion-item no-padding class="animated fadeInUp">
      <p>
      <ion-label position="floating">
Quantité : {{besoin.quantite}}
      </ion-label>
      </p>
    <!--<input autofocus class="form-control" type="number"-->
           <!--[(ngModel)]="besoin.quantite" required="false" placeholder="Personnes ou Quantité">-->
    </ion-item>
  </div>

  <div *ngIf="besoin!=null">
    <ion-item no-padding class="animated fadeInUp">
      <p>
      <ion-label position="floating">
      Date de création :  {{besoin.dateCreation}}
      </ion-label>
      </p>
    </ion-item>
  </div>

  <div *ngIf="besoin">
    <ion-item no-padding class="animated fadeInUp">
      <p>
        <ion-label position="floating">
        Description : {{besoin.description}}
      </ion-label>
      </p>
      <!--<input autofocus class="form-control" type="text"-->
           <!--[(ngModel)]="besoin.description" required="true" placeholder="Description">-->
    </ion-item>
  </div>


  <div class="form-group" *ngIf="besoin">
    <ion-button icon-left size="medium" expand="full" shape="round" type="submit" color="tertiary" (click)="sendPartipation(besoin)"
                tappable> Répondre
    </ion-button>
    <!--<button type="submit" class="btn btn-primary" [disabled]="!canAddParticipant" (click)="sendPartipation(besoin)">Submit</button>-->

    <label *ngIf="!canAddParticipant">Desolé le nombre maximal de participants ou de quantité atteint.</label>
  </div>
  <div class="form-group" *ngIf="besoin">
    <button type="button" class="btn btn-secondary" (click)="previous()" [disabled]="!hasPrevious()">Besoin précédent</button>
    {{'  '}}
    <button type="button" class="btn btn-secondary" (click)="next()" [disabled]="!hasNext()">Besoin suivant</button>
  </div>
  </div>
</form>
</ion-content>

<!--<ion-button slot="secondary" onclick="('')">-->
  <!--Envoyer-->
<!--</ion-button>-->
