<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Dons</ion-title>
  </ion-toolbar>
</ion-header>
<!--<ion-list>
  <ion-list-header>Besoin Actuelle</ion-list-header>

  <ion-item>
    <ion-label>Besoin</ion-label>
    <ul><ion-select placeholder="Liste">
      <ion-select-option value="f">Farine</ion-select-option>
      <ion-select-option value="m">Chausette</ion-select-option>
      <ion-select-option value="m">Chemise</ion-select-option>
      <ion-select-option value="m">Eau</ion-select-option>
    </ion-select></ul>
    <ion-input type="number" value="0">Quantité</ion-input>
    <ion-item>
        <ion-label position="nom">Nom</ion-label>
        <ion-input></ion-input>
     </ion-item>
  </ion-item> 

</ion-list>-->

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      
    </ion-list-header>

    <ion-item>
      <ion-label>Liste dons</ion-label>
        <ion-select placeholder="Liste">
          <ion-select-option value="">Farine</ion-select-option>
          <ion-select-option value="m">Chausette</ion-select-option>
          <ion-select-option value="m">Chemise</ion-select-option>
          <ion-select-option value="m">Eau</ion-select-option>
          </ion-select>
    </ion-item>

    <ion-item>
      <ion-input type="number" value="">Quantité : </ion-input>
    </ion-item>

  </ion-list>


</ion-content>

<ion-button slot="secondary" onclick="('')">
  Envoyer
</ion-button> 



